* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #efefef;
  color: var(--primary);
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

a {
  color: var(--secondary);
}

button, input, textarea {
  font-size: 1em;
}
